<main>
  
<h1 style="text-align: center;">{{titulo}}</h1>

<form>
      <label for="nombre">Nombre: </label>
      <input type="text" name="nombre" [(ngModel)]="nombre"> <br/>

      <label for="apellido">Apellido: </label>
      <input type="text" name="apellido"[(ngModel)]="apellido"><br/>

      <label for="cargo">Cargo: </label>
      <input type="text" name="cargo"[(ngModel)]="cargo" ><br/>

      <label for="area">Área: </label>
      <input type="text" name="area" [(ngModel)]="area"><br/>

      <input type="submit" value="Registrarme" (click)="registrarUsuario()">


</form>

<br/>

<p *ngIf="registrado; else sinRegistrar">{{mensaje}} Tiene el cargo de <span [ngClass]="{paraDirectores: cargo=='directora'}"> {{cargo}} ,</span> en el área de <span [ngStyle]="{color: area=='contable'? 'purple' : 'lightblue'}"> {{area}}.</span></p>

<ng-template #sinRegistrar>
          <p>No hay usuarios registrados</p>
</ng-template>
</main>
<br/>
<h2>Lista de usuarios registrados</h2>
<ul>
  <li *ngFor="let entrada of entradas; let i=index"><span style="font-size: medium; font-weight: bold;">Usuario {{i + 1}}: {{entrada.titulo}}</span>. </li>
</ul>
